@font-face {
	font-family: 'Raleway-Light';
	src:font-url('Raleway-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway-Bold';
	src:font-url('Raleway-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway-ExtraLight';
	src:font-url('Raleway-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway-Regular';
	src:font-url('Raleway-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway-Medium';
	src:font-url('Raleway-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Vonique64';
	src:font-url('Vonique64.ttf') format('truetype');
}
@font-face {
	font-family: 'GreasySpoonNF';
	src:font-url('GreasySpoonNF.ttf') format('truetype');
}
@font-face {
	font-family: 'signify';
	src:font-url('signify.ttf') format('truetype');
}
@font-face {
	font-family: 'Runaway';
	src:font-url('Runaway.otf') format('opentype');
}
@font-face {
	font-family: 'Slot-Regular';
	src:font-url('Slot-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Lato-Light';
	src:font-url('Light-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato-Medium';
	src:font-url('Lato-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato-Heavy';
	src:font-url('Lato-Heavy.ttf') format('truetype');
}
@font-face {
	font-family: 'BELLABOO-Regular';
	src:font-url('BELLABOO-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'pricedown';
	src:font-url('pricedown.ttf') format('truetype');
}

