.tool > img
{
	width: 50%;
	height: 50%;
	margin-top: -100px;
	margin-left: 25%;
}

.dollar > img
{
	width: 50%;
	height: 50%;
	margin-top: -100px;
	margin-left: 25%;
}

.pencil > img
{
	width: 50%;
	height: 50%;
	margin-top: -100px;
	margin-left: 25%;
}