.banner
{
  height: 400px;
  background-image: url(banner-images/banner-7.jpg);
  background-position: 0% 55%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom: 30px;
  margin-top: -19px;
}

.banner-b
{
  height: 400px;
  background-position: 0% 55%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom: 30px;
  margin-top: -48px;
  background-color: #000;
  opacity: 0.5;
}

.banner-b1
{
	background-color: #222222;
	width: 100%;
	//margin-left: 10%;
	opacity: 0.6;
	animation:mymove 2s;
	-webkit-animation:mymove 3s;
	-moz-animation:mymove 3s;
	-o-animation:mymove 3s;
	height: 70px;
	margin-top: 120px;
	opacity: 0.7;
}


.banner-text
{
	text-align:center; 
	color: #fff;  
	font-family: 'Raleway-Light', sans-serif; 
	font-size: 40px;
	margin-top: -55px;
	animation:bannerops 2s;
	-webkit-animation:bannerops 3s;
	-moz-animation:bannerops 3s;
	-o-animation:bannerops 3s;
	opacity: 0.6;
}

@keyframes bannerops
{ 
	from {	
			width: 50%;	
			opacity: 0;	
		 }
	to 	{	
			width: 100%;
			opacity: 0.6; 
		}
}

@-webkit-keyframes mymove
{ 
	from {	
			width: 50%;	
			opacity: 0;	
		 }
	to 	{	
			width: 100%;
			opacity: 0.6; 
		}
}

@-moz-keyframes mymove
{ 
	from {	
			width: 50%;	
			opacity: 0;	
		 }
	to 	{	
			width: 100%;
			opacity: 0.6; 
		}
}

@-o-keyframes mymove
{ 
	from {	
			width: 50%;	
			opacity: 0;	
		 }
	to 	{	
			width: 100%;
			opacity: 0.6; 
		}
}

@keyframes mymove
{ 
	from {	
			width: 50%;	
			opacity: 0;	
		 }
	to 	{	
			width: 100%;
			opacity: 0.7; 
		}
}

@-webkit-keyframes mymove
{ 
	from {	
			width: 50%;	
			opacity: 0;	
		 }
	to 	{	
			width: 100%;
			opacity: 0.7; 
		}
}

@-moz-keyframes mymove
{ 
	from {	
			width: 50%;	
			opacity: 0;	
		 }
	to 	{	
			width: 100%;
			opacity: 0.7; 
		}
}

@-o-keyframes mymove
{ 
	from {	
			width: 50%;	
			opacity: 0;	
		 }
	to 	{	
			width: 100%;
			opacity: 0.7; 
		}
}

.core-web-features-sub-header
{
	text-align: center;
}