.banner
{
	height: 400px;
	background-image: url(banner.png);
	background-position: 0% 55%;
	background-size: cover;
	background-repeat: no-repeat;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom: 30px;
  margin-top: -19px;
}