.web-services > img
{
	display: block;
    margin: auto;
    width: 60%;
}


.web-services-text
{
	font-family: 'Lato-Light', sans-serif;
	font-size: 20px;
}

.sales-services > img
{
	display: block;
    margin: auto;
    width: 50%;
}


.sales-services-text
{
	font-family: 'Lato-Light', sans-serif;
	font-size: 20px;
}

.content-services > img
{
	display: block;
    margin: auto;
    width: 80%;
}